.flexContainer{
    display: flex;
    flex-direction: row;
}

.Nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0px;
}

a:visited {
    color: rgb(228, 74, 74);
}