.Nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
	background-color: rgb(31, 49, 49);
}
.Nav-item {
	text-decoration: none;
	color: white;
}
.is-active {
	font-weight: bold;
	color: red;
}
